body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

#error {
  display: block;
  height: 10vh;
  width: 100%;
  overflow: auto;
  background-color: #99ff99;
  color: red;
  font-size: 16px;
}

.container {
  height: 90vh;
  display: flex;
}

pre {
  background-color: #474747;
}

textarea {
  background-color: #575757;
}

pre, textarea {
  width: 50%;
  font-family: monospace;
  font-size: 16px;
  margin: 0;
  padding: 10px;
  color: #f8f8f8;
}

textarea:focus {
  outline: 0;
}
